body {
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
}

/* Header area */
header {
    display: flex;
    justify-content: space-between;
}

.logo-a {
    color: orangered;
}

.nav-menu li {
    list-style: none;
    display: inline;
    margin-left: 50px;

}

Section {
    display: flex;
}

.left-section {
    width: 30%;
}

.developer-name {
    font-size: 55px;
    color: orangered
}